body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-image: url(../images/gravel.png);
}

.nav-extended.nav-center {
  padding-top: 2%;
  padding-bottom: 2%;
}

nav.nav-center ul {
  text-align: center;
}

nav.nav-center ul li {
  display: inline;
  float: none;
}

nav.nav-center ul li a {
  display: inline-block;
  font-size: larger;
}

/* #name {
  font-size: xx-large;
  font-weight: 500;
} */

li {
  font-size: larger;
}

header {
  background-color: rgb(238, 109, 115);
}

.container {
  padding-top: 2%;
  padding-bottom: 2%;
}

#gallery {
  border-top-color: grey;
  border-top-style: solid;
  border-top-width: 4px;
  /* margin-bottom: 2%; */
  /* padding-bottom: 2%; */
}

h4 {
  padding-top: 2%;
  color: rgb(238, 109, 115);
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

p {
  font-size: larger;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  background-color: rgb(238, 109, 115);
  color: white;
  padding-top: 0;
  margin-top: 0;
}

.btn-floating {
  background-color: black;
  margin-left: 45%;
}

footer {
  padding-bottom: 2%;
}
